/* Base Styles */
body {
  font-family: 'Poppins', sans-serif; /* Font Style */
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;

}


/* Headings */
h1,
h2,
h3 {
  color: #2c3e50;
  padding: 10px;
}

h3 {
  border-left: 4px solid #3498db;
}

p {
  text-align: justify;
}
/* li p {
  text-align: justify;
} */

/* Image Banner */
.banner,
.pic {
  width: 90%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

/* YouTube Embed */
.yt {
  position: relative;
  width: 100%;                    /* Full width */
  max-width: 900px;               /* Max width for larger screens, can be adjusted */
  height: 0;
  padding-bottom: 56.25%;         /* 16:9 Aspect Ratio */
  background-color: #000;         /* Background color in case of empty space */
  margin: 20px auto;              /* Center horizontally and add space on top/bottom */
  border-radius: 10px;            /* Optional: rounded corners */
}

.yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;            /* Optional: rounded corners for the iframe */
}

/* Optional: Make the iframe behave well on extra-large screens (beyond 1200px) */
@media (min-width: 1200px) {
  .yt {
      max-width: 1000px;          /* Increase max width for larger screens */
  }
}


/* Code Blocks */
pre {
  position: relative;
  background-color: #f3f3f3;
  padding: 16px;
  border-radius: 8px;
  font-size: 14px;
  overflow-x: auto;
}

.copybtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
  font-size: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.copybtn:hover {
  background-color: #3784d7;
}

code {
  font-family: Consolas, monospace;
  font-size: 15px;
}

code .comment {
  color: #4caf50;  /* Green color for comments */
}

.blockchar {
  font-family: monospace;
  background-color: #f5f5f5;
  padding: 2px 5px;
}

/* Links */
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


ul li,
ol li {
  margin-bottom: 4px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  body {
      padding: 15px;
      font-size: 16px;
  }

  h1 {
      font-size: 24px;
  }

  pre {
      font-size: 14px;
  }

  .copybtn {
      font-size: 12px;
      padding: 4px 8px;
  }

  .yt {
      max-width: 100%;  /* Full width on smaller screens */
  }
}

html {
  scroll-behavior: smooth;
}
