   
         body {
          font-family: 'Poppins', sans-serif;
          /* font-family: Arial, sans-serif; */
          margin: 0 auto;
          padding: 20px;
          max-width: 1000px;

          color: var(--clr-fg);
          background-color: var(--clr-bg);
      }
      

      .light {
        --clr-bg: #fcfcfc;
        --clr-bg-alt: #fff;
        --clr-fg: #555;
        --clr-fg-alt: #444;
        --clr-primary: #2978b5;
        --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      
      }
      
      .dark {
        --clr-bg: #23283e;
        --clr-bg-alt: #2a2f4c;
        --clr-fg: #bdbddd;
        --clr-fg-alt: #cdcdff;
        --clr-primary: #90a0d9;
        --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      }

      
  ::-moz-selection {
    background: var(--clr-primary);
    color: var(--clr-bg);
  }
  
  ::-webkit-selection,
  ::selection {
    background: var(--clr-primary);
    color: var(--clr-bg);
  }


      h1,
      h2,
      h3 {
          color: #2c3e50;
          padding: 10px;
      }

      h3{
        border-left: 4px solid #3498db;
      }


      .banner {
        width: 90%;
        max-width: 600px;
        height: auto;
        display: block;
        margin: 20px auto;
        border-radius: 10px;
      }
      

      pre {
          background-color: #f5f5f5;
          padding: 15px;
          overflow-x: auto;
          border-left: 2px solid #737576;
          position: relative;
      }

      code {
          font-family: Consolas, monospace;
          font-size: 15px;
      }

      code .comment {
          color: #4caf50;
          /* Green color for comments */
      }

      .blockchar {
          font-family: monospace;
          background-color: #f5f5f5;
          padding: 2px 5px
      }

      .copy-btn {
          position: absolute;
          top: 10px;
          right: 10px;
          padding: 5px 10px;
          background-color: #007bff;
          color: white;
          border: none;
          cursor: pointer;
          font-size: 14px;
      }

      .copy-btn:hover {
          background-color: #0056b3;
      }

      a {
          color: #3498db;
          text-decoration: none;
      }

      a:hover {
          text-decoration: underline;
      }

      ul li {
          margin-bottom: 4px;
          /* or use padding-bottom */
      }


/* Responsive Design */
@media screen and (max-width: 600px) {
  body {
      padding: 15px;
      font-size: 16px;
  }

  h1 {
      font-size: 24px;
  }

  pre {
      font-size: 14px;
  }

  .copy-btn {
      font-size: 12px;
      padding: 4px 8px;
  }
}



html {
  scroll-behavior: smooth;
}



